<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>ABC Bank | Technical assessment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
   <div class="container">
       <div class="row p-5">
       <div class="d-flex justify-content-center w-100 mb-3">
           <h4 class="text-info pb-1 text-align-center">Students list</h4>
       </div>
           <div class="table-responsive">
               <table class="table table-striped">
                   <thead>
                   <th>#</th>
                   <th>Name</th>
                   <th>Department</th>
                   <th>Course</th>
                   <th>Reg  number</th>
                   </thead>
                   <tbody>
                   <tr th:each="student:${students}">
                       <td th:text="${student.idx}">serial</td>
                       <td th:text="${student.name}">name</td>
                       <td th:text="${student.department}">Department</td>
                       <td th:text="${student.course}">Course</td>
                       <td th:text="${student.id}">Student id</td>
                   </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
</body>
</html>